/*http://wiki.xfce.org/howto/gtk_theme*/
/*https://developer.gnome.org/gtk3/3.0/GtkCssProvider.html*/
/*background: url{../images/imagen.png} no-repeat;*/
/*https://gist.github.com/carlos-jenkins/8923124#file-gtk-dark-css*/
/*https://developer.gnome.org/gtk3/stable/chap-css-properties.html*/

@define-color bg_toolbar1 #778899;
@define-color bg_toolbar2 #e9b96e;
@define-color bg_widgetvideo #f0e6aa;
@define-color jamedia1 #ff6600;
@define-color bg_drawing #778899;

window {
    background-image: image(@jamedia1);
    background-color: @jamedia1; 
    color: black;
    font: 12px "Comic Sans";
    /*border: 2px solid @bg_widgetvideo;*/
}

toolbar {
    background-color: @bg_toolbar1;
}

button {
    background-image: image(@bg_toolbar1);
    background-color: @bg_toolbar1;
    border-radius: 0;
    border: 1px solid @bg_toolbar1;
    /*border-style: outset;*/
    margin: 0;
    padding: 0;
    transition: background-color 300ms ease-in-out;
}
button:hover {
    background-image: none;
    background-color: cyan;
    border-radius: 0;
    border: 1px solid @bg_toolbar1;
    border-style: outset;
    margin: 0;
    padding: 0;
}
button:checked {
    background-image: image(gray);
    background-color: gray;
    border-radius: 0;
    border: 1px solid @bg_toolbar1;
    border-style: outset;
    margin: 0;
    padding: 0;
}

/*
self.set_css_name('toolbarsalir')
self.set_name('toolbarsalir')
*/
#toolbarsalir{
    background-color: @bg_toolbar2;
    /*background-image: -gtk-gradient (linear,left top, left bottom,from (cyan),to (shade (red, 0.95)));*/
}

#toolbarsalir button {
    padding-left: 5px;
    padding-right: 5px;
}

/* Barra de Progreso */
#progressplayer {
    border: 0.01em solid black;
}
scale, #progressplayerscale {
    background-image: image(@bg_toolbar1);
    background-color: @bg_toolbar1;
    border-radius: 0;
    border: none; /*0.01em solid black;*/
    padding: 5px;
    margin: 0;
    margin-left: 3px;
    margin-right: 3px;
}
