/*http://wiki.xfce.org/howto/gtk_theme*/
/*https://developer.gnome.org/gtk3/3.0/GtkCssProvider.html*/
/*background: url{../images/imagen.png} no-repeat;*/
/*https://gist.github.com/carlos-jenkins/8923124#file-gtk-dark-css*/
/*https://developer.gnome.org/gtk3/stable/chap-css-properties.html*/

@define-color bg_toolbar1 #778899;
@define-color bg_toolbar2 #e9b96e;
@define-color jamedia1 #ff6600;
@define-color jamedia2 #FF9800;
@define-color jamedia3 #FFE0B2;
@define-color green1 #388E3C; /* dark primary */
@define-color green2 #4CAF50; /* primary */
@define-color green3 #C8E6C9; /* ligth primary */

window {
    background-image: image(white);
    background-color: white; 
    color: black;
    font: 10pt "Comic Sans";
    font-weight: normal;
}

toolbar {
    background-image: image(@bg_toolbar1);
    background-color: @bg_toolbar1;
    margin: 0;
    padding: 3px;
}

button {
    /*background-image: image(@bg_toolbar1);*/
    background-color: @bg_toolbar1;
    border-radius: 8%;
    border: 0.1em solid @bg_toolbar1;
    margin: 0;
    padding: 0;
    /*FIXME: No funciona. transition: background-color 500ms ease-in-out;*/
}
button:hover {
    /*background-image: image(@green3);*/
    background-color: @green3;
    border-radius: 8%;
    border: 0.1em solid @green3;
    margin: 0;
    padding: 0;
}
button:checked {
    /*background-image: image(@green3);*/
    background-color: @green3;
    border-radius: 8%;
    border: 0.01em solid black;
    margin: 0;
    padding: 0;
}

#toolbarsalir{
    background-image: image(@jamedia1);
    background-color: @jamedia1;
    padding: 10px;
    border: 0.1em solid black;
}
#toolbarsalir button {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    border: 0.1em solid black;
}

#toolbarbusquedas {
    background-image: image(@jamedia3);
    background-color: @jamedia3;
    border: 0.1em solid @jamedia1;
}
#toolbarbusquedas button {
    /*background-image: image(@jamedia1);*/
    background-color: @jamedia1;
    border-radius: 8%;
    border: 0.1em solid black;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 12pt;
}
#toolbarbusquedas button:hover {
    /*background-image: image(@jamedia2);*/
    background-color: @jamedia2;
    border-radius: 8%;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 12pt;
}

#alertabusquedas {
    background-image: image(@jamedia1);
    background-color: @jamedia1;
    border: 0.1em solid black;
    padding: 5px;
    font-weight: bold;
    /* FIXME: No funciona:
    animation-name: playing_anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;*/
}

#toolbarcontrols button {
    margin-left: 3px;
    border-radius: 100%;
}

#toolbarinfo button {
    margin-left: 3px;
    border-radius: 100%;
}

#progressplayer button {
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 100%;
}

#toolbarvideos button {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 100%;
}

#minitoolbar {
    background-image: image(@bg_toolbar1);
    background-color: @bg_toolbar1;
    margin: 0;
    padding: 3px;
}
#minitoolbar button {
    margin-left: 2px;
    margin-right: 2px;
}

/* Barra de Progreso */
scale {
    /*background-image: image(@bg_toolbar1);*/
    background-color: @bg_toolbar1;
    border-radius: 0;
    border: none;
    padding: 5px;
    margin: 0;
    margin-left: 3px;
    margin-right: 3px;
}
/* El icono de la escala https://developer.gnome.org/gtk3/stable/chap-css-overview.html */
slider {
    /*background-image: image(white);*/
    background-color: white;
    outline-style: outset;
    border: 0.1em solid black;
    border-radius: 100%;
}
/* canal sin reproducir */
trough {
    /*background-image: image(gray);*/
    background-color: gray;
    outline-style: outset;
    border: 0.1em solid black;
    border-radius: 2px;
    /*box-shadow: 0.1em 0.1em 0.1em black, -0.1em -0.1em 0.1em black, 0.1em -0.1em 0.1em black, -0.1em 0.1em 0.1em black;*/
}
/* canal reproducido */
trough highlight{
    /*background-image: image(white);*/
    background-color: white;
    outline-style: outset;
    border: 0.1em solid black;
    border-radius: 2px;
    /*box-shadow: 0.1em 0.1em 0.1em black, -0.1em -0.1em 0.1em black, 0.1em -0.1em 0.1em black, -0.1em 0.1em 0.1em black;*/
}

#paneltube {
    /*background-image: image(white);*/
    background-color: white;
    border: none;
}

#videoitem {
    /*background-image: image(@green3);*/
    background-color: @green3;
    border: 1px @bg_toolbar1 solid;
    outline-style: outset;
    border-radius: 8px;
}
#videoitem image {
    border: 1px @jamedia3 solid;
    outline-style: outset;
    border-radius: 8px;
    margin: 4px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.8), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
#videocontainer, #videoitemHB {
    padding: 8px;
}

/*
@keyframes playing_anim {
    0% {
        background-image: image(@jamedia3);
        background-color: @jamedia3;
    }
  
    50% {
        background-image: image(@bg_toolbar1);
        background-color: @bg_toolbar1;
    }
  
    100% {
        background-image: image(@jamedia3);
        background-color: @jamedia3;
    }
  }
*/

/*
FIME:
scrollbars
treeview
help
credits
mejorar transiciones en botones
cargar subtítulos
cargar listas de radio o televisión
copiar, mover, borrar
convertir
informacion de duración, tamaño y codecs
establecer orden de foco en la toolbar de busqueda
que en la toolbar de busquedas aparezca: Actualizando metadatos de video ... ?
reparar toolbar encontrados para que muestre el texto mientras se actualizan los metadatos, quizas sea mejor
mantener la alerta abierta y actualizar alli estos datos
en los video items agregar botones para borrar, descargar, convertir, etc ...
agregar imagen de arrastre en drag and drop de paneltube
cambiar minitoolbars por opciones en toolbar videos
*/
.coso {
    color: #778899; /*bg_toolbar1*/
    color: #e9b96e; /*bg_toolbar2*/
    color: #ff6600; /*jamedia1*/
    color: #FF9800; /*jamedia2*/
    color: #FFE0B2; /*jamedia3*/
    color: #388E3C; /*green1*/
    color: #4CAF50; /*green2*/
    color: #C8E6C9; /*green3*/
}

/*Notas:

def on_button_clicked(self, widget, valid):
    style_context = widget.get_style_context()
    if valid:
        style_context.add_class("bigger")
    else:
        style_context.remove_class("bigger")

self.set_css_name('toolbarsalir')
self.set_name('toolbarsalir')

background-image: -gtk-gradient (linear,left top, left bottom,from (cyan),to (shade (red, 0.95)));
*/