/*
http://wiki.xfce.org/howto/gtk_theme
https://developer.gnome.org/gtk3/3.0/GtkCssProvider.html
background: url{../images/imagen.png} no-repeat;
https://gist.github.com/carlos-jenkins/8923124#file-gtk-dark-css
https://developer.gnome.org/gtk3/stable/chap-css-overview.html
https://developer.gnome.org/gtk3/stable/chap-css-properties.html
*/

@define-color bg_toolbar1 #778899;
@define-color jamedia1 #ff6600;
@define-color jamedia2 #FF9800;
@define-color jamedia3 #FFE0B2;
@define-color green1 #388E3C;
@define-color green2 #4CAF50;
@define-color green3 #C8E6C9;
@define-color border rgba(0,0,0, 0.5);

window {
    background-image: image(@bg_toolbar1);
    background-color: @bg_toolbar1;
    color: black;
    font: 10pt "Comic Sans";
    font-weight: normal;
}

toolbar {
    background-image: image(@bg_toolbar1);
    background-color: @bg_toolbar1;
    margin: 0;
    padding: 3px;
}

button {
    background-image: image(@bg_toolbar1);
    background-color: @bg_toolbar1;
    border-radius: 5px;
    border: 0.1em solid @bg_toolbar1;
    margin: 3px;
    padding: 3px;
    /*FIXME: No funciona. transition: background-color 500ms ease-in-out;*/
}
button:hover {
    background-image: image(@green3);
    background-color: @green3;
    border: 0.1em solid @green3;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.8), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}
button:checked {
    background-image: image(@green3);
    background-color: @green3;
    border: 0.01em solid black;
}

/* Barra de Progreso */
scale {
    background-image: image(@bg_toolbar1);
    background-color: @bg_toolbar1;
    border-radius: 0;
    border: none;
    padding: 5px;
    margin: 0;
    margin-left: 3px;
    margin-right: 3px;
}
/* El icono de la escala https://developer.gnome.org/gtk3/stable/chap-css-overview.html */
slider {
    background-image: image(white);
    background-color: white;
    outline-style: outset;
    border: 0.1em solid black;
    border-radius: 100%;
}
/* canal sin reproducir */
trough {
    background-image: image(@border);
    background-color: @border;
    outline-style: outset;
    border: 0.1em solid @border;
    border-radius: 2px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 3px 6px 0 rgba(0, 0, 0, 0);
}
/* canal reproducido */
trough highlight{
    background-image: image(white);
    background-color: white;
    outline-style: outset;
    border: 0.1em solid white;
    border-radius: 2px;
}

/* scroll de lista de videos, de lista de archivos y de tareas en converter*/
.scrolllist trough, #scrolltareas trough {
    background-image: image(@jamedia3);
    background-color: @jamedia3;
    border-width: 1px;
    border-color: black;
    border-radius: 0;
    opacity: 1;
}
.scrolllist slider, #scrolltareas slider {
    background-image: image(@jamedia1);
    background-color: @jamedia1;
    border-color: black;
    border-radius: 3px;
    border-width: 1px;
    opacity: 1;
}

/* Cuando se cargan archivos */
.filechooser {
    background-image: image(rgb(240,240,240));
    background-color: rgb(240,240,240);
    padding: 5px;
    margin: 20px;
    border: 0.1em solid @green3;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.8), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}
.filechooser button {
    padding: 5px;
    border-radius: 5px;
    background-image: image(rgb(240,240,240));
    background-color: rgb(240,240,240);
}
.filechooser button:hover {
    background-image: image(@green3);
    background-color: @green3;
    border: 0.1em solid @green3;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.8), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}
.filechooser button:checked {
    background-image: image(@green3);
    background-color: @green3;
    border: 0.1em solid black;
}

.filechooser treeview {
    background-image: image(rgb(240,240,240));
    background-color: rgb(240,240,240);
    color: black;
    padding-left: 3px;
    padding-top: 3px;
}
.filechooser treeview:hover {
    background-image: Image(@green3);
    background-color: @green3;
}
.filechooser treeview:selected {
    background-image: Image(@jamedia3);
    background-color: @jamedia3;
    color: black;
}

.filechooser trough {
    background-image: image(@jamedia3);
    background-color: @jamedia3;
    border-width: 1px;
    border-color: black;
    border-radius: 0;
    opacity: 1;
}
.filechooser slider {
    background-image: image(@jamedia1);
    background-color: @jamedia1;
    border-color: black;
    border-radius: 3px;
    border-width: 1px;
    opacity: 1;
}

#radio, #credits {
    border: 2px @jamedia3 solid;
}

.versionlabel {
    color: @border;
}

@import url("toolbars.css");
@import url("paneltube.css");
@import url("jamedia.css");
@import url("converter.css");

/*
@keyframes playing_anim {
    0% {
        background-image: image(@jamedia3);
        background-color: @jamedia3;
    }
  
    50% {
        background-image: image(@bg_toolbar1);
        background-color: @bg_toolbar1;
    }
  
    100% {
        background-image: image(@jamedia3);
        background-color: @jamedia3;
    }
  }
*/

/*
FIXMEs:
    Mejorar transiciones en botones
    Implementar controlador de tabulador para pasar el foco entre widgets (Actualmente no es posible)
    cargar subtítulos (Actualmente gstreamer no lo permite)
    Que los videoitems tengan un spin hasta cargar los metadatos (Actualmente css no lo permite)

    buscar como agregar y leer imagen en los tag de videos
    agregar terminal con información de rendimiento
    en los video items agregar botones para borrar, descargar, convertir, guardar portada, etc ...
    en el reproductor copiar, mover, borrar y convertir archivos 
    informacion de tamaño y codecs

    reparar toolbar encontrados para que muestre el texto mientras se actualizan los metadatos, quizas sea mejor
    agregar imagen de arrastre en drag and drop de paneltube
    quitarle el borde a jamedia cuando esta fullscreen y con controles ocultos
*/

/*Notas:
#treeviewlist {}
#treeviewlist:nth-child(even):hover {}
#treeviewlist:nth-child(even):selected {}

def on_button_clicked(self, widget, valid):
    style_context = widget.get_style_context()
    if valid:
        style_context.add_class("bigger")
    else:
        style_context.remove_class("bigger")

self.set_css_name('toolbarsalir')
self.set_name('toolbarsalir')

background-image: -gtk-gradient (linear,left top, left bottom,from (cyan),to (shade (red, 0.95)));
*/